div.alert{
	position:fixed;
	top:0px;
	width:100vw;
	z-index:100000;
}

header {
	padding:20px 0px 20px 0px;

	.col-title {
		a {
			font-size:2em;
			font-weight: 100;
			color:#333;

			strong{
				font-weight: 400;
			}
		}
	}

	.fork-separator{
		margin-right: -4%;
	}

	.social-top-col{
		iframe{
			display: inline-block;
			margin-top:25px;
		}
	}

	.terminal-input {
		position:absolute;
		margin-top:22px;
		width:30vw;
	}

}

article {
	&.error-page {
		h1{
			font-size:3em;
			font-weight: 100;

			strong{
				font-weight: 300;
			}
		}

		p{
			font-size: 1.2em;
			color:#333;
			font-weight: 100;
		}
	}
}

aside {
	background: transparent url('/public/img/gopher.jpg') 0 0 no-repeat;
	background-position:bottom center;
	height:80vh;
	background-size:50%;

	h1{
		margin-top:20vh;
		font-size:3em;
		font-weight: 100;

		strong{
			font-weight: 300;
		}
	}

	p{
		font-size: 1.2em;
		color:#333;
		font-weight: 100;
	}
}

footer {
	margin:15px 0px 0px 10px;
	p {
		font-size: .9em;
		color:#4a4a4a;
	}
}